---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p class="date">{frontmatter.pubDate.slice(0,10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <div class="tags">
    tag: {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
  <!-- <p>作者: {frontmatter.author}</p> -->
  <!-- <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->
  <hr />

  <div  class="content">
    <slot />
  </div>
</BaseLayout>
<style>
  a {
    color: #83a598 ;
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .tag {
    margin: 0.25em;
    font-size: 1.15em;
  }
  .tag a:hover{
    color: green;
    text-decoration: underline;
  }

  .date{
    color: rgb(149, 149, 149);
  }

  .content{
    margin: 1.2rem .8rem;
    color: rgb(40, 40, 40);
    font-size: 14px;
    line-height: 2rem;
  }
</style>